<div class="card flex justify-content-center">
    <p-card header="Fun With Logic">
        <!-- <p-tabMenu [model]="items" [activeItem]="activeItem">
            <app-string></app-string>
        </p-tabMenu> -->
  

    <p-tabView>
        <p-tabPanel header="Number">
           <app-string></app-string>
        </p-tabPanel>
        <p-tabPanel header="String">
            <app-string></app-string>
        </p-tabPanel>
        <p-tabPanel header="Array">
            <app-string></app-string>
        </p-tabPanel>
        <p-tabPanel header="Collection">
            <app-string></app-string>
         </p-tabPanel>
    </p-tabView>
</p-card>
</div>

